{% extends 'base.html' %}
{% block contenido %}

<h3>Actualizar Inventario</h3>

<form method="POST" action="/realizar_actualizacion_inventario/{{ inventario.id }}/">
    {% csrf_token %}

    <select name="producto" class="form-control mt-2">
        {% for prod in productos %}
            <option value="{{ prod.id }}" {% if prod.id == inventario.producto.id %} selected {% endif %}>
                {{ prod.nombre }}
            </option>
        {% endfor %}
    </select>

    <input class="form-control mt-2" type="text" name="nombre" value="{{ inventario.nombre }}">
    <input class="form-control mt-2" type="text" name="tipo" value="{{ inventario.tipo }}">
    <input class="form-control mt-2" type="date" name="fecha_caducidad" value="{{ inventario.fecha_caducidad }}">
    <input class="form-control mt-2" type="text" name="contenido" value="{{ inventario.contenido }}">

    <select name="proveedor" class="form-control mt-2">
        {% for p in proveedores %}
            <option value="{{ p.id }}" {% if inventario.proveedor.id == p.id %} selected {% endif %}>
                {{ p.nombre }}
            </option>
        {% endfor %}
    </select>

    <button class="btn btn-primary mt-3">Actualizar</button>

</form>

{% endblock %}
